<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" sizes="192x192" href="../assets/android-chrome-192x192.png">
    <link rel="icon" sizes="512x512" href="../assets/android-chrome-512x512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assests/">
    <link rel="manifest" href="../assets/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/login.css">
    <title>Sastreira Itham</title>
</head>
<body>
    <section class="container-login">
        <form action="#" class="form-login">
            <h1>Inicio de seción</h1>
            <div class="column">
                <div class="input_box-login">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" placeholder="ingrese nombre" required>
                <div class="input_box-login">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" id="contrasena" name="contrasena" placeholder="ingrese su contraseña" required>
                </div>
            </div>
        </form>
    </section>
</body>
</html>